.wrapper {
  position: relative;
  height: 71px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

  &:hover {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--c-black-transparent-3);
    }
  }
}

.container {
  display: flex;
  width: 290px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid var(--c-gray-1);

  * {
    flex-shrink: 0;
  }
}

.avatar {
  margin-right: 10px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.userName,
.userMessage {
  max-width: 193px;
}

.top,
.dialog {
  display: flex;
  justify-content: space-between;
}

.userName {
  flex-grow: 1;
  margin: 0 0 4px;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  text-overflow: ellipsis;
}

.date {
  margin-left: 8px;
  font-size: 9px;
  line-height: 13px;
  color: var(--c-gray-0);
}

.userMessage {
  width: 193px;
  max-height: 30px;
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: var(--c-gray-0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.messages {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 11px;
  line-height: 12px;
  color: var(--c-white);
  background-color: var(--c-primary);
  border-radius: 50%;
}

.hidden {
  display: none;
}
