.button {
  --box-shadow: 0 4px 4px var(--c-black-transparent-1);

  width: 280px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  line-height: 13px;
  color: var(--c-white);
  background-color: var(--c-primary);
  border: none;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.button:hover {
  background-color: var(--c-primary-hover);
}

.button:active {
  background-color: var(--c-primary-active);
  box-shadow: inset var(--box-shadow);
}
