.button {
  cursor: pointer;
}

.primary {
  --box-shadow: 0 4px 4px var(--c-black-transparent-1);

  width: 280px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  line-height: 13px;
  color: var(--c-white);
  background-color: var(--c-primary);
  border: none;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.primary:hover {
  background-color: var(--c-primary-hover);
}

.primary:active {
  background-color: var(--c-primary-active);
  box-shadow: inset var(--box-shadow);
}

.secondary {
  font-size: 11px;
  line-height: 11px;
  color: var(--c-primary);
  text-align: center;
  border: none;
  background-color: transparent;
}

.secondary:hover {
  color: var(--c-primary-hover);
}
