<div class='{{styles.popup}} popup'>
  <div class='{{styles.icon}}'>
    <svg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'>
      <path
        d='M6.64583 1.98H6.41667C6.54271 1.98 6.64583 1.881 6.64583 1.76V1.98H15.3542V1.76C15.3542 1.881 15.4573 1.98 15.5833 1.98H15.3542V3.96H17.4167V1.76C17.4167 0.78925 16.5945 0 15.5833 0H6.41667C5.40547 0 4.58333 0.78925 4.58333 1.76V3.96H6.64583V1.98ZM21.0833 3.96H0.916667C0.409635 3.96 0 4.35325 0 4.84V5.72C0 5.841 0.103125 5.94 0.229167 5.94H1.95937L2.66693 20.3225C2.71276 21.2603 3.52057 22 4.4974 22H17.5026C18.4823 22 19.2872 21.263 19.3331 20.3225L20.0406 5.94H21.7708C21.8969 5.94 22 5.841 22 5.72V4.84C22 4.35325 21.5904 3.96 21.0833 3.96ZM17.282 20.02H4.71797L4.02474 5.94H17.9753L17.282 20.02Z'
        fill='#3369F3'
      ></path>
    </svg>
  </div>
  <p class='{{styles.text}}'>Удалить чат</p>
</div>