.popup {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 12px;
  background-color: var(--c-white);
  box-shadow: 0 0 6px 0 var(--c-black-transparent-2);
  cursor: pointer;
}

.icon {
  margin-right: 15px;

  svg {
    display: block;
  }
}

.text {
  font-size: 12px;
  line-height: 14px;
}
