.signupForm {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 615px;
  padding: 50px 30px 30px 30px;
  border-radius: 12px;
  background: var(--c-white);
  box-shadow: 0px 0px 6px var(--c-black-transparent-2);

  fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;

    & > .errorMessage {
      width: 100%;
      font-size: 11px;
      line-height: 11px;
      text-align: center;
    }
  }

  button {
    margin-top: auto;
    margin-bottom: 14px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.formItem {
  position: relative;
  margin-top: 0;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--c-primary);

  label {
    font-size: 9px;
    line-height: 9px;
    color: var(--c-gray-0);
  }

  input {
    display: block;
    width: 100%;
  }

  .errorMessage {
    top: calc(100% + 4px);
  }
}

.errorMessage {
  position: absolute;
  left: 0;
  font-size: 8px;
  line-height: 8px;
  color: var(--c-red);
}

.link {
  font-size: 11px;
  line-height: 11px;
  color: var(--c-primary);
  text-align: center;
}

.link:hover {
  color: var(--c-primary-hover);
}
