.message {
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
  }

  p {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 69px;
  }

  a {
    font-size: 11px;
    line-height: 11px;
    color: var(--c-primary);

    &:hover {
      color: var(--c-primary-hover);
    }
  }
}
