.message {
  --padding: 11px;

  display: flex;
  max-width: 402px;
  padding: var(--padding);
}

.interlocutor {
  background-color: var(--c-gray-4);
  border-radius: 0 8px 8px;
}

.default {
  background-color: var(--c-blue);
  border-radius: 8px 8px 0;

  .date {
    color: var(--c-primary);

    &::after {
      content: '';
      width: 11px;
      height: 9px;
      margin-left: 5px;
      background: url('./status.svg') center bottom no-repeat;
    }
  }
}

.text {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
}

.time {
  align-self: flex-end;
  margin-left: 5px;
  font-size: 9px;
  line-height: 9px;
  color: var(--c-gray-0);
}
